@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat&display=swap');

/* Main page styles */

body {
    margin: 0;
    background-color: #f6f7f1;
}

header {
    background-color: #f6f7f1;
    color: #34a0a4;
    margin-left: 10px;
    height: 6vh;
}

h1,
h2,
h3 {
    font-family: "Homemade Apple", sans-serif;
    color: #34a0a4;
    text-align: center;
}

p,
table {
    font-family: Montserrat, sans-serif;
    color: #4f5051;
}

/* Styling for all tables */

table {
    color: #4f5051;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

table, th, td {
    border: 2px solid #db9487;
    border-collapse: collapse;
}

th {
    height: 50px;
}

tr {
    height: 40px;
}

.table-price {
    text-align: center;
}

.treatment-type {
    padding-left: 10px;
}

/* Style Nav Bar */

#header-title {
    display: inline-block;
    margin-top: 10px;
}

header h1 {

    font-size: 1.1em;
    position: absolute;
    top: 0;
    left: 10px;
}

#dropdown-main {
    display: inline-block;
}

.dropdown-logo {
    list-style-type: none;
    float: right;
    color: #db9487;
}

/* Style dropdown menu */

.home-dropdown {
    font-family: Montserrat, san serif;
    display: inline-block;
    position: absolute;
    padding-left: 20px;
    top: 0;
    right: 10px;
}

/* Style dropdown content hidden by default */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #db9487;
    color: #34a0a4;
    padding: 0;
    z-index: 1;
    right: 0;
    text-align: left;
    line-height: 20px;
    border-radius: 25px;
}

/* Style dropdown links */

.dropdown-content li {
    color: #000;
    padding: 12px 16px;
    margin: auto;
    display: block;
}

.dropdown-content a {
    text-decoration: none;
    color: #34a0a4;
}

/* Change dropdown link color on hover */

.dropdown-content li:hover {
    background-color: #f6f7f1;
    border-bottom: 1px solid #34a0a4;
}

/* Show dropdown on hover */

.home-dropdown:hover .dropdown-content {
    display: block;
    float: left;
}

/* Style Client Testimonial Sections */

.testimonial {
    border: 2px solid #db9487;
    background-color:rgba(52, 160, 164, 0.7);
    border-radius: 5px;
    box-shadow: 5px 10px 10px #db9487;
    padding: 15px;
    margin: 20px;
    text-align: center;
}

.testimonial img {
    border-radius: 20px;
}

/* Hero Image and Mission Statement Style */

.hero-image {
    height: 75vh;
    width: 100%;
    background: url('../images/hero-image.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
}

#mission-statement h3 {
    font-family: "Homemade Apple", san serif;
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 90px;
}

/* What we Offer styling */

#services h2,
#about-us h2,
#location h2,
#waxing-price-list h2,
#nails-price-list h2 {
    text-align: center;
    font-size: 2em;
    text-shadow: 5px 10px 10px #34a0a4;
}

#services h3 {
    text-shadow: 5px 10px 10px #000;

}

.services-flexbox {
    display: flex;
    margin: 5px;
    flex-direction: column;
}

.services-item {
    margin: 5px;
    height: 70vh;
    border: 2px solid #db9487;
    align-self: center;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.services-item a {
    text-decoration: none;
}

.waxing {
    background: url('../images/waxing-homepage.jpg') no-repeat center center;
    background-size: cover;
}

.nails {
    background: url('../images/nails-homepage.jpg')no-repeat center center;
    background-size: cover;
}

.relaxation {
    background: url('../images/relaxation-homepage.jpg')no-repeat center center;
    background-size: cover;
}

/* Add colour change on Hover to services items */

.services-item h3:hover {
    color: #db9487;
}

/* About Us styling */

.about-us-box {
    display: flex;
    flex-direction: column-reverse;
}

.client-bio {
    margin: 300px 5px 0 5px;
    text-align: center;
}

#qualification-logo {
    display: flex;
    justify-content: center;
}

.qual-logo {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Polaroid Styling adpated from Savv Studio Tutorial */

.client-photo {
    transform: scale(0.75);
    display: flex;
    justify-content: center;

}

.client-photo .client-polaroid {
    position: absolute;
    border: 1px solid #db9487;
    background-color: white;
    padding: 15px 15px 60px 15px;
    box-shadow: 5px 10px 10px #db9487;
}

.client-photo .client-polaroid:after {
    content: attr(polaroid-caption);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: calc(100% - 20px);
    padding: 0;
    font-size: 30px;
    text-align: center;
    font-family: "Homemade Apple", san serif;
    color: #34a0a4;
}

.client-photo .client-polaroid {
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
}

/* How to find us styling */

.direction-text {
    text-align: center;
}

.direction-text h3 {
    font-size: 1.5em;
    text-shadow: 5px 10px 10px #34a0a4;
}

#location-container {
    display: flex;
    flex-direction: column;
}

#location-map {
    margin: 5px;
    width: 95%;
    height: 300px;
    align-self: center;
    border: 1px solid #db9487;
    box-shadow: 5px 10px 10px #db9487;
}

/* Footer Styling */

#footer {
    color: #4f5051;
    height: auto;
}

/* Style Opening Times */

#opening {
    width: 100%;
    display: inline-block;
    text-align: center;
}

#opening-times {
    margin: 0;
    padding: 0;
}

#opening-times li {
    list-style-type: none;
    font-family: Montserrat, san serif;
    padding: 0;
}

/* Style Phone Number */

#phone {
    display: inherit;
    width: 100%;
    text-align: center;
}

#phone p {
    font-size: 150%;
}

/* Style Social Media Links */

#social-links {
    text-align: center;
    padding: 0;
}

#social-links li {
    display: inline-block;
    list-style-type: none;
    font-size: 200%;
    margin: 5px;
    padding: 10px;
}

#social-links a {
    text-decoration: none;
    color: inherit;
    align-items: center;
}

/* Add colour change on Hover to social links */

#social-links li:hover {
    color: #db9487;
}

/* Waxing Page Styling */

.waxing-main-image {
    height: 75vh;
    width: 100%;
    background: url('../images/waxing-main-image.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    text-align: center;
    font-size: 1.5em;
}

.what-is-waxing, 
.nails-explanation {
    text-align: center;
    margin: 5px;
}

/* Nails Page Styling */

.nails-main-image {
    height: 75vh;
    width: 100%;
    background: url('../images/nails-main-image.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    text-align: center;
    font-size: 1.5em;

}

/* Relaxation Page Styling */

.relaxation-main-image {
    height: 75vh;
    width: 100%;
    background: url('../images/relaxation-main-image.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    text-align: center;
    font-size: 1.5em;

}

/* Media Queries - Screens over 600px wide */

@media screen and (min-width: 600px) {

    .services-flexbox,
    #location-container {
        flex-direction: row;
    }

    .client-photo {
        transform: scale(0.5);
    }

    .client-bio {
        margin: 200px 5px 0 5px;
    }

    .direction-text {
        transform: scale(0.9);
    }

    #opening,
    #phone {
        width: 50%;
    }

    .phone-number {
        float: right;
    }
}

/* Media Queries - Screens over 800px wide */

@media screen and (min-width: 800px) {

    header {
        height: 10vh;
        font-size: 1.5em;
    }

    .about-us-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: revert;
    }

    #qualification-logo {
        display: flex;
        justify-content: center;
        order: 3;
        width: 100%;
    }

    .client-bio {
        margin: 10px 5px 0 10px;
        width: 60%;
        order: 1;
        text-align: left;
    }

    .client-photo {
        transform: scale(0.7);
        width: 35%;
        order: 2;
    }

    table {
        width: 50%;
    }

    #client-testimonials {
        display: flex;
    }
}

/* Media Queries - Screens over 1000px wide */

@media screen and (min-width: 1000px) {

    .client-photo {
        transform: scale(0.8);
    }

    #location-map {
        width: 50%;
    }

    .direction-text {
        transform: scale(1);
        padding-left: 8px;
    }
}