@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat&display=swap');

/* Main page styles */

body {
    margin: 0;
    background-color: #f6f7f1;
}

header {
    background-color: #f6f7f1;
    color: #34a0a4;
    margin-left: 10px;
    height: 10vh;
    line-height: 75px;
}

h1, h2, h3 {
    font-family: "Homemade Apple", san serif;
    color: #34a0a4;
}

/* Style Nav Bar */

 header h1 {

    font-size: 1.1em;
    display: inline;
    float: left;
}

.dropdown-logo {
    list-style-type: none;
    float: right;
    color: #db9487;
}

/* Style dropdown menu */

.home-dropdown {
    font-family: Montserrat, san serif;
    position: relative;
    display: inline-block
}

/* Style dropdown content hidden by default */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #db9487;
    color: #34a0a4;
    padding: 0;
    z-index: 1;
    right: 0;
    text-align: left;
    line-height: 20px;
    border-radius: 25px;
}

/* Style dropdown links */

.dropdown-content li {
    color: #000;
    padding: 12px 16px;
    margin: auto;
    display: block;
}

.dropdown-content a {
    text-decoration: none;
    color: #34a0a4;
}

/* Change dropdown link color on hover */

.dropdown-content li:hover {
    background-color: red;
}

/* Show dropdown on hover */

.home-dropdown:hover .dropdown-content {
    display: block;
    float: left;
}

/* Hero Image and Mission Statement Style */

#main-landing {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}